@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #D4D2D4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header a {
    text-decoration: none;
    color: #ffffff;
    transition: color 500ms ease;
}

header a:hover {
    color: #239C45;
}

header input {
    padding: 10px;
    border-radius: 8px;
    margin-right: 10px;
}

header button {
    cursor: pointer;
    background-color: #2D2C2D;
    border-radius: 8px;
    border-color: #239C45;
    border-width: 2px;
    margin-right: 20px;
    margin-left: -5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-text-fill-color: #239C45;
}

header button:hover {
    background-color: #239C45;
    border-color: #239C45;
    -webkit-text-fill-color: #fff;
}

button:active {
    transform: scale(0.9) perspective(1px);
}

.container {
    width: 100%;
    height: 75px;
    margin: 0 auto;
}

header.container {
    background: #2D2C2D;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    padding-left: 25px;
    transition: transform 500ms ease-out;
}
header .logo:hover {
    transform: scale(1.1) perspective(1px);
}

header nav a {
    alignment: center;
    margin-left: 5px;
    padding-right: 15px;
}

.presentation {
    float: left;
    width: 100%;
    padding: 0px 200px;
    box-sizing: border-box;
}

.presentation h1 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 36px;
}

.presentation a {
    text-decoration: none;
    font-weight:600;
    color: #E06149;
    transition: color 500ms ease;
}

.presentation a:hover {
    color: #a10b89;
}

.presentation input {
    width: 300px;
    padding: 10px 30px;
    border-radius: 8px;
    border: 1px solid silver;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-bottom: 15px;
    resize: none;
}

.presentation button {
    cursor: pointer;
    background-color: #239C45;
    border-radius: 8px;
    border-color: #239C45;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    -webkit-text-fill-color: #fff;
}

presentation:active {
    transform: scale(0.9) perspective(1px);
}

.block {
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.wrapper > div {
    text-align: center;
    width: 15rem;
    padding: 0 20px;
}

.wrapper h2 {
    padding-bottom: 10px;
}


footer {
    background-color: #2D2C2D;
    color: white;
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: auto;
    text-align: center;
}